body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.date-textbox {
  width: 78px;
}

.padding-left {
  padding-left: 8px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 90%;
  min-width: 1000px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.new-post-textarea {
  height: 200px;
  width: 400px;
}

#top-area {
  text-align: center;
}

#recent-posts-area li h4 {
  text-align: center;
}
 
#recent-posts-area li {
  list-style-type: none
}

.recent-post-title {
  color: #08c;
}

#account {
  text-align: center;
  padding-right: 8px;
}

#left-content {
  width: 70%;
}

#right-menu {
  width: 30%;
}
